In [1]:
import pandas as pd

In [2]:

# Read the CSV file into a DataFrame
movies_raw_imdb_df = pd.read_csv('Resources/movies_raw_imdb.csv')
larger_movies_raw_df = pd.read_csv('Resources/larger_movies_raw.csv')

In [3]:
movies_raw_imdb_df.head()

,Unnamed: 0,tconst,averageRating,numVotes,titleType,isAdult,startYear,endYear,runtimeMinutes,genres,Movie
0,0,tt0013274,6.8,59,movie,0,2021,0,94,Documentary,Istoriya grazhdanskoy voyny
1,1,tt0015414,5.2,16,movie,0,2000,0,60,0,La tierra de los toros
2,2,tt0015724,6.1,27,movie,0,1993,0,102,"Drama,Mystery,Romance",Dama de noche
3,3,tt0035423,6.4,87965,movie,0,2001,0,118,"Comedy,Fantasy,Romance",Kate & Leopold
4,4,tt0036606,6.5,345,movie,0,1983,0,118,"Drama,War","Another Time, Another Place"

In [4]:
larger_movies_raw_df.head()

,Unnamed: 0,tconst,OMDB_Title,OMDB_Rated,OMDB_Released,OMDB_Runtime,OMDB_Genre,OMDB_Director,OMDB_Writer,OMDB_Actors,OMDB_Language,OMDB_Country,OMDB_Type,OMDB_Metascore,OMDB_imdbRating,OMDB_imdbVotes,OMDB_BoxOffice,OMDB_Production
0,0,tt0013274,Istoriya grazhdanskoy voyny,NaN,10 May 2022,94 min,Documentary,"Nikolai Izvolov, Dziga Vertov",NaN,NaN,None,Soviet Union,movie,NaN,NaN,58,NaN,NaN
1,1,tt0015414,La tierra de los toros,NaN,NaN,60 min,NaN,Musidora,NaN,"Antonio Cañero, Musidora",None,"Spain, France",movie,NaN,6.6,16,NaN,NaN
2,2,tt0015724,Dama de noche,NaN,18 Mar 1993,102 min,"Drama, Mystery, Romance",Eva López Sánchez,"Eva López Sánchez, David Martin del Campo","Rafael Sánchez Navarro, Cecilia Toussaint, Mig...",Spanish,Mexico,movie,NaN,5.8,27,NaN,NaN
3,3,tt0035423,Kate & Leopold,PG-13,25 Dec 2001,118 min,"Comedy, Fantasy, Romance",James Mangold,"Steven Rogers, James Mangold","Meg Ryan, Hugh Jackman, Liev Schreiber","English, French",United States,movie,44.0,6.4,"87,977","$47,121,859",NaN
4,4,tt0036606,"Another Time, Another Place",R,11 May 1984,118 min,"Drama, War",Michael Radford,"Jessie Kesson, John Francis Lane, Michael Radford","Phyllis Logan, Giovanni Mauriello, Gianluca Fa...","English, Italian",United Kingdom,movie,NaN,6.5,338,NaN,NaN

In [5]:
# Merge the DataFrames on the 'tconst' column
merged_df = pd.merge(movies_raw_imdb_df, larger_movies_raw_df, on='tconst')

In [6]:
merged_df.head()

,Unnamed: 0_x,tconst,averageRating,numVotes,titleType,isAdult,startYear,endYear,runtimeMinutes,genres,...,OMDB_Writer,OMDB_Actors,OMDB_Language,OMDB_Country,OMDB_Type,OMDB_Metascore,OMDB_imdbRating,OMDB_imdbVotes,OMDB_BoxOffice,OMDB_Production
0,0,tt0013274,6.8,59,movie,0,2021,0,94,Documentary,...,NaN,NaN,None,Soviet Union,movie,NaN,NaN,58,NaN,NaN
1,1,tt0015414,5.2,16,movie,0,2000,0,60,0,...,NaN,"Antonio Cañero, Musidora",None,"Spain, France",movie,NaN,6.6,16,NaN,NaN
2,2,tt0015724,6.1,27,movie,0,1993,0,102,"Drama,Mystery,Romance",...,"Eva López Sánchez, David Martin del Campo","Rafael Sánchez Navarro, Cecilia Toussaint, Mig...",Spanish,Mexico,movie,NaN,5.8,27,NaN,NaN
3,3,tt0035423,6.4,87965,movie,0,2001,0,118,"Comedy,Fantasy,Romance",...,"Steven Rogers, James Mangold","Meg Ryan, Hugh Jackman, Liev Schreiber","English, French",United States,movie,44.0,6.4,"87,977","$47,121,859",NaN
4,4,tt0036606,6.5,345,movie,0,1983,0,118,"Drama,War",...,"Jessie Kesson, John Francis Lane, Michael Radford","Phyllis Logan, Giovanni Mauriello, Gianluca Fa...","English, Italian",United Kingdom,movie,NaN,6.5,338,NaN,NaN

In [7]:
merged_df.to_csv("./Resources/merged_larger_movies_formatted.csv")

In [13]:
movies_df=merged_df

# Format column data types from objects to numbers

In [15]:
# Examine data type of each column
movies_df.dtypes

Unnamed: 0_x                int64
tconst                     object
averageRating             float64
numVotes                    int64
titleType                  object
isAdult                     int64
startYear                   int64
endYear                     int64
runtimeMinutes              int64
genres                     object
Movie                      object
Unnamed: 0_y                int64
OMDB_Title                 object
OMDB_Rated                 object
OMDB_Released      datetime64[ns]
OMDB_Runtime               object
OMDB_Genre                 object
OMDB_Director              object
OMDB_Writer                object
OMDB_Actors                object
OMDB_Language              object
OMDB_Country               object
OMDB_Type                  object
OMDB_Metascore            float64
OMDB_imdbRating           float64
OMDB_imdbVotes             object
OMDB_BoxOffice             object
OMDB_Production            object
ReleaseYear               float64
ReleaseMonth              float64
dtype: object

In [16]:
# delate all "N/A"
movies_df = movies_df.replace('N/A', '')

# Convert $ objests to floats
movies_df[['OMDB_BoxOffice']] = movies_df[['OMDB_BoxOffice']].replace('[\$,\s]', '', regex=True)
movies_df[['OMDB_BoxOffice']] = movies_df[['OMDB_BoxOffice']].apply(pd.to_numeric, errors='coerce')

# # Convert number strings with comma to float
movies_df[['OMDB_imdbVotes']] = movies_df[['OMDB_imdbVotes']].replace('[,\s]', '', regex=True)
movies_df['OMDB_imdbVotes'] = pd.to_numeric(movies_df['OMDB_imdbVotes'], errors='coerce')

# # Convert runtime to float after removing " min"
movies_df[['OMDB_Runtime']] = movies_df[['OMDB_Runtime']].replace('[min\s]', '', regex=True)
movies_df['OMDB_Runtime'] = pd.to_numeric(movies_df['OMDB_Runtime'], errors='coerce')

# Change date to datetime type (Note "ReleaseDate" has inconsistent formatting / typos)
movies_df["OMDB_Released"] = pd.to_datetime(movies_df["OMDB_Released"])

movies_df.dtypes

Unnamed: 0_x                int64
tconst                     object
averageRating             float64
numVotes                    int64
titleType                  object
isAdult                     int64
startYear                   int64
endYear                     int64
runtimeMinutes              int64
genres                     object
Movie                      object
Unnamed: 0_y                int64
OMDB_Title                 object
OMDB_Rated                 object
OMDB_Released      datetime64[ns]
OMDB_Runtime              float64
OMDB_Genre                 object
OMDB_Director              object
OMDB_Writer                object
OMDB_Actors                object
OMDB_Language              object
OMDB_Country               object
OMDB_Type                  object
OMDB_Metascore            float64
OMDB_imdbRating           float64
OMDB_imdbVotes            float64
OMDB_BoxOffice            float64
OMDB_Production            object
ReleaseYear               float64
ReleaseMonth              float64
dtype: object

In [17]:
movies_df.to_csv("./Resources/merged_larger_movies_formatted.csv")

# Minor Processing

## Convert dates into year and month columns removing date columns

In [18]:
# Change date to datetime type (Note "ReleaseDate" has inconsistent formatting / typos)
movies_df["OMDB_Released"] = pd.to_datetime(movies_df["OMDB_Released"])
movies_df

,Unnamed: 0_x,tconst,averageRating,numVotes,titleType,isAdult,startYear,endYear,runtimeMinutes,genres,...,OMDB_Language,OMDB_Country,OMDB_Type,OMDB_Metascore,OMDB_imdbRating,OMDB_imdbVotes,OMDB_BoxOffice,OMDB_Production,ReleaseYear,ReleaseMonth
0,0,tt0013274,6.8,59,movie,0,2021,0,94,Documentary,...,None,Soviet Union,movie,NaN,NaN,58.0,NaN,NaN,2022.0,5.0
1,1,tt0015414,5.2,16,movie,0,2000,0,60,0,...,None,"Spain, France",movie,NaN,6.6,16.0,NaN,NaN,NaN,NaN
2,2,tt0015724,6.1,27,movie,0,1993,0,102,"Drama,Mystery,Romance",...,Spanish,Mexico,movie,NaN,5.8,27.0,NaN,NaN,1993.0,3.0
3,3,tt0035423,6.4,87965,movie,0,2001,0,118,"Comedy,Fantasy,Romance",...,"English, French",United States,movie,44.0,6.4,87977.0,47121859.0,NaN,2001.0,12.0
4,4,tt0036606,6.5,345,movie,0,1983,0,118,"Drama,War",...,"English, Italian",United Kingdom,movie,NaN,6.5,338.0,NaN,NaN,1984.0,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
221928,221928,tt9916270,5.8,1448,movie,0,2020,0,84,Thriller,...,Italian,"Italy, Spain",movie,NaN,5.8,1448.0,NaN,NaN,2020.0,11.0
221929,221929,tt9916362,6.4,5609,movie,0,2020,0,92,"Drama,History",...,"Spanish, Basque","Spain, France, Argentina",movie,NaN,6.4,5603.0,NaN,NaN,2020.0,10.0
221930,221930,tt9916428,3.5,17,movie,0,2019,0,0,"Adventure,History,War",...,"Chinese, English",China,movie,NaN,3.5,17.0,NaN,NaN,2019.0,8.0
221931,221931,tt9916538,8.6,7,movie,0,2019,0,123,Drama,...,Indonesian,Indonesia,movie,NaN,NaN,6.0,NaN,NaN,2019.0,3.0
221932,221932,tt9916730,7.6,11,movie,0,2017,0,116,Drama,...,Marathi,India,movie,NaN,NaN,11.0,NaN,NaN,2017.0,4.0

In [19]:
movies_df.dtypes

Unnamed: 0_x                int64
tconst                     object
averageRating             float64
numVotes                    int64
titleType                  object
isAdult                     int64
startYear                   int64
endYear                     int64
runtimeMinutes              int64
genres                     object
Movie                      object
Unnamed: 0_y                int64
OMDB_Title                 object
OMDB_Rated                 object
OMDB_Released      datetime64[ns]
OMDB_Runtime              float64
OMDB_Genre                 object
OMDB_Director              object
OMDB_Writer                object
OMDB_Actors                object
OMDB_Language              object
OMDB_Country               object
OMDB_Type                  object
OMDB_Metascore            float64
OMDB_imdbRating           float64
OMDB_imdbVotes            float64
OMDB_BoxOffice            float64
OMDB_Production            object
ReleaseYear               float64
ReleaseMonth              float64
dtype: object

In [20]:
movies_df["ReleaseYear"] = pd.DatetimeIndex(movies_df['OMDB_Released']).year
movies_df["ReleaseMonth"] = pd.DatetimeIndex(movies_df['OMDB_Released']).month
movies_df = movies_df.drop(['OMDB_Released'], axis=1)
movies_df.head()

,Unnamed: 0_x,tconst,averageRating,numVotes,titleType,isAdult,startYear,endYear,runtimeMinutes,genres,...,OMDB_Language,OMDB_Country,OMDB_Type,OMDB_Metascore,OMDB_imdbRating,OMDB_imdbVotes,OMDB_BoxOffice,OMDB_Production,ReleaseYear,ReleaseMonth
0,0,tt0013274,6.8,59,movie,0,2021,0,94,Documentary,...,None,Soviet Union,movie,NaN,NaN,58.0,NaN,NaN,2022.0,5.0
1,1,tt0015414,5.2,16,movie,0,2000,0,60,0,...,None,"Spain, France",movie,NaN,6.6,16.0,NaN,NaN,NaN,NaN
2,2,tt0015724,6.1,27,movie,0,1993,0,102,"Drama,Mystery,Romance",...,Spanish,Mexico,movie,NaN,5.8,27.0,NaN,NaN,1993.0,3.0
3,3,tt0035423,6.4,87965,movie,0,2001,0,118,"Comedy,Fantasy,Romance",...,"English, French",United States,movie,44.0,6.4,87977.0,47121859.0,NaN,2001.0,12.0
4,4,tt0036606,6.5,345,movie,0,1983,0,118,"Drama,War",...,"English, Italian",United Kingdom,movie,NaN,6.5,338.0,NaN,NaN,1984.0,5.0

In [21]:
movies_df.columns

Index(['Unnamed: 0_x', 'tconst', 'averageRating', 'numVotes', 'titleType',
       'isAdult', 'startYear', 'endYear', 'runtimeMinutes', 'genres', 'Movie',
       'Unnamed: 0_y', 'OMDB_Title', 'OMDB_Rated', 'OMDB_Runtime',
       'OMDB_Genre', 'OMDB_Director', 'OMDB_Writer', 'OMDB_Actors',
       'OMDB_Language', 'OMDB_Country', 'OMDB_Type', 'OMDB_Metascore',
       'OMDB_imdbRating', 'OMDB_imdbVotes', 'OMDB_BoxOffice',
       'OMDB_Production', 'ReleaseYear', 'ReleaseMonth'],
      dtype='object')

In [22]:
# Define Consolidate Rated Lists:
# reference https://en.wikipedia.org/wiki/Motion_Picture_Association_film_rating_system
kids = ['PG', 'G', 'TV-PG', 'TV-G', 'GP', 'M/PG', 'M']
teens = ['PG-13', 'TV-14', '16+', '13+']
adults = ['R', 'TV-MA', 'NC-17', 'X', '18+']
Unknown = ['Not Rated', 'Approved', 'Unrated', 'Passed']

for index, row in movies_df.iterrows():
    movie_rating = row['OMDB_Rated']
    if movie_rating in kids:
        movies_df.at[index,'OMDB_Rated'] = 'kids'
    elif movie_rating in teens:
        movies_df.at[index,'OMDB_Rated'] = 'teens'
    elif movie_rating in adults:
        movies_df.at[index,'OMDB_Rated'] = 'adults'
    else:
        movies_df.at[index,'OMDB_Rated'] = 'unknown'

# df["grade"] = df.apply(lambda x: 'A+' if ((x['score']>40)&(x['score']<50)) else x["grade"], axis=1)
# movies_df.OMDB_Rated = np.where((movies_df.OMDB_Rated in kids), 'kids', movies_df.OMDB_Rated)

movies_df['OMDB_Rated'].value_counts()

unknown    188478
adults      19047
teens        7918
kids         6490
Name: OMDB_Rated, dtype: int64

In [23]:
movies_df.to_csv("./Resources/merged_larger_movies_processed.csv")