In [1]:
import pandas as pd

In [2]:

# Read the CSV file into a DataFrame
movies_raw_imdb_df = pd.read_csv('Resources/movies_raw_imdb.csv')
larger_movies_raw_df = pd.read_csv('Resources/larger_movies_raw.csv')

In [3]:
movies_raw_imdb_df.head()

,Unnamed: 0,tconst,averageRating,numVotes,titleType,isAdult,startYear,endYear,runtimeMinutes,genres,Movie
0,0,tt0013274,6.8,59,movie,0,2021,0,94,Documentary,Istoriya grazhdanskoy voyny
1,1,tt0015414,5.2,16,movie,0,2000,0,60,0,La tierra de los toros
2,2,tt0015724,6.1,27,movie,0,1993,0,102,"Drama,Mystery,Romance",Dama de noche
3,3,tt0035423,6.4,87965,movie,0,2001,0,118,"Comedy,Fantasy,Romance",Kate & Leopold
4,4,tt0036606,6.5,345,movie,0,1983,0,118,"Drama,War","Another Time, Another Place"

In [4]:
larger_movies_raw_df.head()

,Unnamed: 0,tconst,OMDB_Title,OMDB_Rated,OMDB_Released,OMDB_Runtime,OMDB_Genre,OMDB_Director,OMDB_Writer,OMDB_Actors,OMDB_Language,OMDB_Country,OMDB_Type,OMDB_Metascore,OMDB_imdbRating,OMDB_imdbVotes,OMDB_BoxOffice,OMDB_Production
0,0,tt0013274,Istoriya grazhdanskoy voyny,NaN,10 May 2022,94 min,Documentary,"Nikolai Izvolov, Dziga Vertov",NaN,NaN,None,Soviet Union,movie,NaN,NaN,58,NaN,NaN
1,1,tt0015414,La tierra de los toros,NaN,NaN,60 min,NaN,Musidora,NaN,"Antonio Cañero, Musidora",None,"Spain, France",movie,NaN,6.6,16,NaN,NaN
2,2,tt0015724,Dama de noche,NaN,18 Mar 1993,102 min,"Drama, Mystery, Romance",Eva López Sánchez,"Eva López Sánchez, David Martin del Campo","Rafael Sánchez Navarro, Cecilia Toussaint, Mig...",Spanish,Mexico,movie,NaN,5.8,27,NaN,NaN
3,3,tt0035423,Kate & Leopold,PG-13,25 Dec 2001,118 min,"Comedy, Fantasy, Romance",James Mangold,"Steven Rogers, James Mangold","Meg Ryan, Hugh Jackman, Liev Schreiber","English, French",United States,movie,44.0,6.4,"87,977","$47,121,859",NaN
4,4,tt0036606,"Another Time, Another Place",R,11 May 1984,118 min,"Drama, War",Michael Radford,"Jessie Kesson, John Francis Lane, Michael Radford","Phyllis Logan, Giovanni Mauriello, Gianluca Fa...","English, Italian",United Kingdom,movie,NaN,6.5,338,NaN,NaN

In [5]:
# Merge the DataFrames on the 'tconst' column
merged_df = pd.merge(movies_raw_imdb_df, larger_movies_raw_df, on='tconst')

In [6]:
merged_df.head()

,Unnamed: 0_x,tconst,averageRating,numVotes,titleType,isAdult,startYear,endYear,runtimeMinutes,genres,...,OMDB_Writer,OMDB_Actors,OMDB_Language,OMDB_Country,OMDB_Type,OMDB_Metascore,OMDB_imdbRating,OMDB_imdbVotes,OMDB_BoxOffice,OMDB_Production
0,0,tt0013274,6.8,59,movie,0,2021,0,94,Documentary,...,NaN,NaN,None,Soviet Union,movie,NaN,NaN,58,NaN,NaN
1,1,tt0015414,5.2,16,movie,0,2000,0,60,0,...,NaN,"Antonio Cañero, Musidora",None,"Spain, France",movie,NaN,6.6,16,NaN,NaN
2,2,tt0015724,6.1,27,movie,0,1993,0,102,"Drama,Mystery,Romance",...,"Eva López Sánchez, David Martin del Campo","Rafael Sánchez Navarro, Cecilia Toussaint, Mig...",Spanish,Mexico,movie,NaN,5.8,27,NaN,NaN
3,3,tt0035423,6.4,87965,movie,0,2001,0,118,"Comedy,Fantasy,Romance",...,"Steven Rogers, James Mangold","Meg Ryan, Hugh Jackman, Liev Schreiber","English, French",United States,movie,44.0,6.4,"87,977","$47,121,859",NaN
4,4,tt0036606,6.5,345,movie,0,1983,0,118,"Drama,War",...,"Jessie Kesson, John Francis Lane, Michael Radford","Phyllis Logan, Giovanni Mauriello, Gianluca Fa...","English, Italian",United Kingdom,movie,NaN,6.5,338,NaN,NaN